.footerContainer
{
    display:flex;
    justify-content: center;
    align-items: center;
    height:5rem;
    width:100%;
    margin-top:100rem;
    background-color: #f3f3f3;
    position:relative;
    bottom:0;
}