
.__navbar {
    height:80px;
    
    position:fixed;
    align-items: center;
    width:100%;
    z-index:1;
    opacity: 1;

    .container
    {
        display:flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1680px;
        margin-top: 0.5rem;
    

        .navCategories .navCategory
        {
        color: black;
        margin:1.2rem;
        text-decoration: none;
        font-weight: bold;
        }

        .navCategories .navCategory:hover
        {
            color: #FF7373;
            transition: 0.2s ease-in-out;
        }

        .menu-icons a
        {
            margin:0.8rem;
            padding:0.4rem 0.6rem;
            color: black;
            background-color: white;
            border-radius: 45rem;
        
        }
        .menu-icons a:hover 
        {
            color:#FF7373;
            transition:0.2s ease-in-out;
        }
}
}

